[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "checker"]
	path = checker
	url = https://github.com/richardjtelford/checker
	shallow = true
	registered = true
[submodule "palaeoSig"]
	path = palaeoSig
	url = https://github.com/richardjtelford/palaeosig
	shallow = true
	registered = true
